<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.halzhang.android.examples.lockscreenexample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LockScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/title_activity_lock_screen"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.halzhang.android.examples.lockscreenexample"
            android:theme="@style/LockScreenTheme">
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!--
          屏幕打开关闭广播不支持静态注册
        <receiver android:name=".ScreenBroadcastReceiver">
              <intent-filter>
                  <action android:name="android.intent.action.SCREEN_OFF"/>
                  <action android:name="android.intent.action.SCREEN_ON"/>
              </intent-filter>
          </receiver>-->
    </application>

</manifest>